.cart-wrapper {
  position: absolute;
  top: 5rem;
  right: 5rem;
  color: black;
  width: 350px;
}
.title {
  text-align: center;
}
.cart-list {
  list-style: none;
}

.cart-item {
  border-bottom: 1px solid gray;
  padding: 0.5rem;
}

.total {
  font-weight: 700;
  margin: 1rem 0;
}
.action {
  display: flex;
  justify-content: space-around;
}

.order {
  background-color: #77002e;
}
.close {
  background: white;
  color: #77002e;
  border: 1px solid #77002e;
}
