.cart-wrapper {
  position: absolute;
  top: 5rem;
  right: 5rem;
  color: black;
  width: 300px;
}
.title {
  text-align: center;
}
.cart-list {
  list-style: none;
}

.cart-item {
  border-bottom: 1px solid gray;
  padding: 0.5rem;
}

.total {
  font-weight: 700;
}
